################################################################################
#                                                                              #
#                                   Info                                       #
#                                                                              #
################################################################################

{INFO}
	{NAME}:Blank Project
	{LANGUAGE}:Default
{END}
